<form action="/results" method="get/">
    <input type="text" name="title" placeholder="E.g. Forrest Gump">
    <input value="Search for a movie" type="submit">
</form>

<form action="/movies/new" method="get/">
    <input value="Add a new movie" type="submit" class="centered_button">
</form>   