<form action="/movies" method="post">
  Title:<input type="text" name="title"/></br>
  Year:<input type="text" name="year"/></br>
  Description:<input type="text" name="description"/></br>
  Rating:<input type="text" name="rating"/></br>
  <input type="submit"/>
</form>